openapi: 3.0.0
info:
  title: API Logística - Sistema de Gestão de Fretes
  version: "1.0.0"
  description: API para cotações, rastreamento, auditoria de fretes e abertura de chamados com transportadoras.

servers:
  - url: https://api.sistemafrete.com/v1

tags:
  - name: Cotacoes
    description: Endpoints para simulação de frete
  - name: Rastreamento
    description: Consulta de status de pedidos e envios
  - name: Tickets
    description: Abertura e acompanhamento de chamados
  - name: Auditoria
    description: Verificação de divergências entre cotação e valor cobrado
  - name: Regras
    description: Gerenciamento de regras de frete
  - name: Logs
    description: Acesso ao histórico de cotações
  - name: Notificacoes
    description: Envio e consulta de notificações
  - name: Webhooks
    description: Atualizações externas por eventos

paths:
  /cotacoes:
    post:
      tags: [Cotacoes]
      summary: Realizar cotação de frete
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                cep_origem: { type: string }
                cep_destino: { type: string }
                peso: { type: number }
                valor: { type: number }
                dimensoes:
                  type: object
                  properties:
                    comprimento: { type: number }
                    largura: { type: number }
                    altura: { type: number }
      responses:
        '200':
          description: Resultado da cotação

  /tickets:
    post:
      tags: [Tickets]
      summary: Criar novo chamado logístico
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                pedido_id: { type: string }
                assunto: { type: string }
                transportadora: { type: string }
                descricao: { type: string }
                origem: { type: string }
      responses:
        '201': { description: Ticket criado com sucesso }

  /auditoria:
    post:
      tags: [Auditoria]
      summary: Verificar divergência entre frete cotado e CTE
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                pedido_id: { type: string }
      responses:
        '200': { description: Resultado da auditoria }

  /regras:
    get: { tags: [Regras], summary: Listar regras de frete }
    post: { tags: [Regras], summary: Criar nova regra }
  /regras/{id}:
    put: { tags: [Regras], summary: Atualizar regra }
    delete: { tags: [Regras], summary: Deletar regra }

  /logs/cotacoes:
    get: { tags: [Logs], summary: Listar logs de cotações }
  /logs/cotacoes/{id}:
    get: { tags: [Logs], summary: Detalhes de uma cotação }

  /notificacoes:
    post: { tags: [Notificacoes], summary: Enviar notificação manual }
  /notificacoes/logs:
    get: { tags: [Notificacoes], summary: Histórico de notificações }

  /webhooks/entrega-atualizada:
    post: { tags: [Webhooks], summary: Webhook de entrega atualizada }
  /webhooks/ticket-atualizado:
    post: { tags: [Webhooks], summary: Webhook de atualização de ticket }